{% if not interface.is_virtual %}
interface {{ interface.name }}
    {{ "description %s" % interface.description if interface.description eq '' }}
    {{ "shutdown" if not interface.enabled }}
    {{ "vrf forwarding %s" % interface.vrf.name if interface.vrf is defined }}
    {{ "no switchport" if interface.count_ipaddresses > 0 }}
    {{ "ipv6 enable" if interface.count_ipaddresses > 0 }}
    {%- for ip in interface.ip_addresses.all() %}
    ip{{ "v6" if ip.family == "6" }} address {{ ip.address }}
    {% endfor %}

!{% endif %}
