hostname {{ device.name }}
ip domain-name {{ domain_name if domain_name else 'coloradocolo.net' }}
!
{%- for server in ntp_servers %}
ntp {{ server }}
!
{%- endfor %}
spanning-tree mode {{ stp_mode if step_mode else 'mstp' }}
!
service unsupported-transceiver EMC ***REMOVED***
!
clock timezone {{ timezone if timezone else 'US/Mountain' }}}
!
vrf definition mgmt
	rd 17139:17139
	description mgmt
!
{% block interfaces -%}
{%- for interface in device.interfaces.all() -%}
{% include 'eos/common/interface.j2' %}
{% endfor -%}
{%- endblock %}

{% include 'eos/mgmt/base.j2' %}
