hostname {{ device.name }}
ip domain-name {{ domain_name if domain_name else 'coloradocolo.net' }}
!
{% for server in ntp_servers %}
ntp {{ server }}
!
{%- endfor %}
spanning-tree mode {{ stp_mode if step_mode else 'mstp' }}
!
service unsupported-transceiver EMC {{ global.eos_unsupported_transceiver_license }}
!
clock timezone {{ timezone if timezone else 'US/Mountain' }}}
!
{% block vrfs %}
{%- for vrf in device.interfaces.all()|map(attribute="vrf")|unique|list %}
{%- if vrf is not none -%}
vrf definition {{ vrf.name }}
    {%- if vrf.rd %}
	rd {{ vrf.rd }}
	{%- endif -%}
    {%- if vrf.description %}
	description {{ vrf.description }}
	{%- endif %}
!
{% endif -%}
{%- endfor -%}
{%- endblock -%}

{%- block vlan_definitions %}
{%- macro list_vlans(interfaces) -%}
{%- set vlans = [] -%}
{%- for interface in interfaces -%}
  {%- for vlan in interface.tagged_vlans.all() -%}
	{%- set _ = vlans.append(vlan) -%}
  {%- endfor -%}
  {%- set _ = vlans.append(interface.untagged_vlan) -%}
{%- endfor -%}
{%- if vlans|selectattr("name", "none")|map(attribute="vid")|list|unique|join(',')|length >= 1 %}
vlan {{ vlans|selectattr("name", "none")|map(attribute="vid")|list|unique|join(',') }}
{%- endif -%}
{%- for vlan in vlans|selectattr("name", "defined")|unique|list %}
vlan {{ vlan.vid }}
	name {{ vlan.name }}
!
{%- endfor -%}
{%- endmacro -%}
{{ list_vlans(device.interfaces.all()) }}
{%- endblock %}

vxlan vni notation dotted

{% block interfaces -%}
{%- for interface in device.interfaces.all() -%}
{% include 'eos/common/interface.j2' %}
{% endfor -%}
{%- endblock -%}


{% include 'eos/mgmt/base.j2' %}
