lldp management-address Management1
lldp management-address vrf mgmt
!
snmp-server community {{ snmp.community }} ro SNMP
!
aaa authorization exec default local
!
no aaa root
!
ip access-list standard SNMP
	10 permit host 172.20.0.10
!
ip access-list standard mgmt
	10 permit 172.16.0.0/12
!
management api http-commands
	no shutdown
	vrf mgmt
		no shutdown
!
management console
	idle-timeout 10
!
management security
	entropy source hardware
!
management ssh
	ip access-group mgmt vrf mgmt in
	idle-timeout 10
	login timeout 5
	shutdown
	vrf mgmt
		no shutdown
!
management telnet
	vrf mgmt
		shutdown
!
management xmpp
	vrf mgmt
!
